﻿@{
    ViewData["Title"] = "Under Maintenance";
}
<section class="awe-section awe-skin-dark display-flex-center"
    style="background-image:url(&quot;assets/img/bg/coming-soon.jpg&quot;);height:100vh;">
    <div class="awe-overlay"></div>
    <div class="container">       
        <div class="comming-soon-01">
            <h3 class="comming-soon-01__title">We're Under Maintenance</h3>
            <p class="comming-soon-01__desc">We are working on our website and will be online again. </p>
        </div>
    </div>
</section>
