﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>@ViewData["Title"] - underMaintenance</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/bootstrap/grid.css">
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/coming-soon-01.css">
</head>

<body>
    <div class="page-wrap">
        <div class="md-content">
            @RenderBody()
            <div id="particles-js"></div>
        </div>
    </div>




    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Vendors-->
    <script type="text/javascript" src="~/assets/vendors/_jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/vendors/jquery.countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/assets/vendors/particles.js/particles.min.js"></script>
    <script src="~/assets/vendors/particles.js/particles.js"></script>
    <!-- main script-->
    <script type="text/javascript" src="~/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
